We have already talked about List in our 2) Data Types repository. In this repository, we will look more into this Data Type.

<b>Lists</b>

Lists are used to store multiple items in a single variable. <br>

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary. <br>

Lists are created using square brackets.

In [1]:
a = [30,20,10]
print("The list is: ",a)

The list is:  [30, 20, 10]

In [2]:
b = ['Apple',10,True]
print("The list is: ",b)

The list is:  ['Apple', 10, True]

Here, as you can see in the above example, Lists in Python allows data items of different data types which is not true in the case of C++,Java or any other language.

List items are ordered, changeable, and allow duplicate values. <br>

List items are indexed, the first item has index [0], the second item has index [1] etc.
When we say that lists are ordered, it means that the items have a defined order, and that order will not change. <br>

If you add new items to a list, the new items will be placed at the end of the list. <br>

In [3]:
c = [12.5,11.5,10.5]
print("The First element is: ",c[0])
print("The Second element is: ",c[1])
print("The Third element is: ",c[2])

The First element is:  12.5
The Second element is:  11.5
The Third element is:  10.5

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created. <br>

Since lists are indexed, lists can have items with the same value <br>

In [4]:
d = [30,20,10,30]
print(d)

[30, 20, 10, 30]

To determine how many items a list has, we use the len() function.

In [5]:
e = [30,20,10,40,70,20]
print(len(e))

6

In [6]:
f = [10,20]
print(type(f))

<class 'list'>

It is also possible to use the list() constructor when creating a new list.

In [7]:
g = list((1,2,3))
print(g)

[1, 2, 3]

In [8]:
g = list(1,2,3)
print(g)

TypeError: list expected at most 1 argument, got 3

<b>Note that it gave an error when we used single brackets instead of double round brackets.</b>

A list can also have another list as an item. This is called a nested list.

In [9]:
h = ["Hello",[2,3,4,5],20]
print(h)
print(type(h))

['Hello', [2, 3, 4, 5], 20]
<class 'list'>

Let's try to access the list items in a nested list.

In [10]:
print(h[0])

Hello

Now if we want to retrieve the third element of the nested list [2,3,4,5], we need to access it in the following manner

In [11]:
print(h[1][2])

4

In [12]:
print(h[4])

IndexError: list index out of range

This is because the list only have 3 elements and we are trying to access the 4th element which is not even in the list.

<b> Negative Indexing </b>

Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

In [13]:
i = [1,2,3]
print(i[-1])
print(i[-2])
print(i[-3])

3
2
1

<b> List Slicing </b>

We can access a range of items in a list by using the slicing operator :

In [14]:
j = [1,2,3,4,5,6,7,8,9,10]
print(j[1:3]) 
print(j[:5])
print(j[1:])
print(j[:])

[2, 3]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Look at very carefully that in List Slicing the starting index is inclusive and ending index is exclusive i.e we include the starting index but we don't include the ending index rather we include ending index - 1 element. <br>
[1:3] here means starting from index 0 and ending with 3-1 = 2 <br>
[:5] here means starting from index 0 and ending with 5-1 = 4 <br>
[1:] here means starting from index 1 and ending with the last element <br>
[:] here means including all the elements as nothing is mentioned.

As we have already mentioned that Lists are mutable, meaning their elements can be changed unlike string or tuple. <br>

We can use the assignment operator = to change an item or a range of items.

In [15]:
k = [2,3,4,5]
k[0]=1
print(k)

[1, 3, 4, 5]

Here, I have changed the element at index 0 by using assignment operator.

We can also change the elements by slicing.

In [16]:
i = [2,3,4,5]
i[:] = [6,7,8,9]
print(i)

[6, 7, 8, 9]

In the above example, I have changed all the elements of i list.

We can add one item to a list using the append() method or add several items using the extend() method.

In [17]:
l = [1,2,3]
l.append(4)
print("Using Append: ",l)
l.extend([5,6,7,8])
print("Using Extend: ",l)

Using Append:  [1, 2, 3, 4]
Using Extend:  [1, 2, 3, 4, 5, 6, 7, 8]

We can also use + operator to combine two lists. This is also called concatenation. <br>

The * operator repeats a list for the given number of times. <br>

In [18]:
m = [1,2,3]
print(m + [4,5,6])

[1, 2, 3, 4, 5, 6]

In [19]:
m = [1,2,3]
print(m * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Furthermore, we can insert one item at a desired location by using the method insert()

In [20]:
n = [1,2,4]
n.insert(2,3)
print(n)

[1, 2, 3, 4]

Insert(a,b) = Inserting 'b' element on 'a' index

Now, let's try to delete the items from the list. We can delete the items in the following ways: <br>
delete() : Can delete a single item/multiple items by stating the index of a element to be deleted. <br>
remove() : Removes the given item <br>
pop() : Removes only an item at the given index. <br>

<b>Note :The pop() method removes and returns the last item if the index is not provided. This helps us implement lists as stacks (first in, last out data structure).</b>

clear() : It is used when we have to empty the whole list.

Let's try implementing them.

In [21]:
o = ["Apple","Banana","Cherry","Watermelon","Kiwi","Mango","Strawberry","Papaya"]
del o[1]
print(o)
del o[4:6]
print(o)
o.remove("Papaya")
print(o)
o.pop(3)
print(o)

['Apple', 'Cherry', 'Watermelon', 'Kiwi', 'Mango', 'Strawberry', 'Papaya']
['Apple', 'Cherry', 'Watermelon', 'Kiwi', 'Papaya']
['Apple', 'Cherry', 'Watermelon', 'Kiwi']
['Apple', 'Cherry', 'Watermelon']

In [22]:
o.clear()
print(o)

[]

<b>Below are some of the function you can experiment on while using list in Python.</b>

append() : adds an element to the end of the list <br>
extend() : adds all elements of a list to another list <br>
insert() : inserts an item at the defined index <br>
remove() : removes an item from the list <br>
pop() : returns and removes an element at the given index <br>
clear() : removes all items from the list <br>
index() : returns the index of the first matched item <br>
count() : returns the count of the number of items passed as an argument <br>
sort() : sort items in a list in ascending order <br>
reverse() : reverse the order of items in the list <br>
copy() : returns a shallow copy of the list <br>

A <b>list comprehension</b> consists of an expression followed by for statement inside square brackets.

In [23]:
s = [2 ** x for x in range(5)]
print(s)

[1, 2, 4, 8, 16]

In [24]:
s = [2 ** x for x in range(5) if x>2]
print(s)

[8, 16]

<b>List Membership Operator</b>

In [25]:
t = ['b','o','a','t']
print('b' in t)
print('z' in t)

True
False

<b>Iterating through List</b>

In [26]:
for i in [1,2,3,4,5]:
    print("Number is: ",i)

Number is:  1
Number is:  2
Number is:  3
Number is:  4
Number is:  5

That's it about Lists. There are so many functions in list, you'll only learn them by practicing. <br> So, Keep Practicing and Happy Learning!