<b> Tuples</b>

We have already discussed List data type in the previous repository. Let's now understand Tuples in Python.

Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary. <br>

A tuple is a collection which is ordered and unchangeable. <br>

Tuples are written with round brackets. <br>

In [1]:
a = (30,20,10)
print("The tuple is: ",a)

The tuple is:  (30, 20, 10)

In [2]:
b = ('Apple',10,True)
print("The tuple is: ",b)

The tuple is:  ('Apple', 10, True)

Here, as you can see in the above example, Tuples in Python allows data items of different data types which is not true in the case of C++,Java or any other language.

Tuple items are ordered, unchangeable, and allow duplicate values. <br>

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change. <br>

If you add new items to a tuple, the new items will be placed at the end of the tuple. <br>

In [3]:
c = (12.5,11.5,10.5)
print(type(c))
print("The First element is: ",c[0])
print("The Second element is: ",c[1])
print("The Third element is: ",c[2])

<class 'tuple'>
The First element is:  12.5
The Second element is:  11.5
The Third element is:  10.5

In [4]:
d = (30,20,10,30) #allows duplicate items as tuples are indexed
print(d)

(30, 20, 10, 30)

<b>Let's try to create a tuple with single item</b>

In [5]:
d = (20)
type(d)

int

In [6]:
d = ("Apple")
type(d)

str

Here if you can see in the above examples, this is not how a single tuple is defined. As assigning a single tuple will be treated as int,string,bool or any other data type. So as to create a tuple with single item you need to add a comma after the single value.

In [7]:
d = (20,)
type(d)

tuple

In [8]:
d = ("Apple",)
type(d)

tuple

To determine how many items a tuple has, we use the len() function.

In [9]:
e = (30,20,10,40,70,20)
print(len(e))

6

It is also possible to use the tuple() constructor when creating a new tuple.

In [10]:
g = tuple((1,2,3))
print(g)

(1, 2, 3)

In [11]:
g = tuple(1,2,3)
print(g)

TypeError: tuple expected at most 1 argument, got 3

<b>Note that it gave an error when we used single brackets instead of double round brackets.</b>

A tuple can also have another tuple as an item. This is called a nested tuple.

In [12]:
h = ("Hello",(2,3,4,5),20)
print(h)
print(type(h))

('Hello', (2, 3, 4, 5), 20)
<class 'tuple'>

Let's try to access the list items in a nested list.

In [13]:
print(h[0])

Hello

Now if we want to retrieve the third element of the nested tuple [2,3,4,5], we need to access it in the following manner

In [14]:
print(h[1][2])

4

In [15]:
print(h[4])

IndexError: tuple index out of range

This is because the tupple only has 3 elements and we are trying to access the 4th element which is not even in the tuple.

<b> Negative Indexing </b>

Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

In [16]:
i = (1,2,3)
print(i[-1])
print(i[-2])
print(i[-3])

3
2
1

<b>List Slicing</b>

We can access a range of items in a tuple by using the slicing operator :

In [17]:
j = (1,2,3,4,5,6,7,8,9,10)
print(j[1:3]) 
print(j[:5])
print(j[1:])
print(j[:])

(2, 3)
(1, 2, 3, 4, 5)
(2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Look at very carefully that in Tuple Slicing the starting index is inclusive and ending index is exclusive i.e we include the starting index but we don't include the ending index rather we include ending index - 1 element. <br>
[1:3] here means starting from index 0 and ending with 3-1 = 2 <br>
[:5] here means starting from index 0 and ending with 5-1 = 4 <br>
[1:] here means starting from index 1 and ending with the last element <br>
[:] here means including all the elements as nothing is mentioned.

A tuple can also be created without using parentheses. This is known as tuple packing.

In [18]:
e = 10, 5.6, "Apple",True
print(e)

# tuple unpacking is also possible
a, b, c, d= e

print(a)    
print(b)      
print(c)      
print(d)

(10, 5.6, 'Apple', True)
10
5.6
Apple
True

Elements of a tuple cannot be changed once they have been assigned. But, if the element is itself a mutable data type like a list, its nested items can be changed.

In [19]:
g = (1,2,3,[4,5,6],7)
g[1] = 8

TypeError: 'tuple' object does not support item assignment

As you can see the error which says - 'tuple' object does not support item assignment. Hence, tuples are unchangeable however if the element is itself a mutable data type like a list, its nested items can be changed.

In [20]:
g[3][0] = 8  
print(g)

(1, 2, 3, [8, 5, 6], 7)

We can also use + operator to combine two tuples. This is also called concatenation. <br>

The * operator repeats a tuples for the given number of times. <br>

In [21]:
m = (1,2,3)
print(m + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [22]:
m = [1,2,3]
print(m * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

As discussed above, we cannot change the elements in a tuple. It means that we cannot delete or remove items from a tuple. <br>

Deleting a tuple entirely, however, is possible using the keyword del.

In [23]:
n = (1,2,3,4,5)
del n[3]

TypeError: 'tuple' object doesn't support item deletion

In [24]:
del n

In [25]:
print(n)

NameError: name 'n' is not defined

<b>Note: As the tuple is deleted completely hence it says that is is not defined as it doesn't exist.</b>

Methods that add items or remove items are not available with tuple. Only the two methods are available - ccount and index.

In [26]:
o = (1,2,3,1,2,5,4,3)

print(o.count(1)) 
print(o.index(5))

2
5

In [27]:
print(o.index(3))

2

As you can see in the case of duplicate items it will return the idex of the first occurring.

<b>Tuple Membership Operator</b>

We can test if an item exists in a tuple or not, using the keyword in.

In [28]:
t = ('p','y','t','h','o','n')
print('p' in t)
print('b' in t)
print('o' in t)
print('y' not in t) #will return False as 'y' is in Tuple t

True
False
True
False

<b>Iterating through Tuple</b>

We can use a for loop to iterate through each item in a tuple.

In [29]:
for i in ('Santushti', 'Naina'):
    print('Hello', i)

Hello Santushti
Hello Naina

That's it about Tuples. <br> 
So, Keep Practicing and Happy Learning!