<b>Sets</b>

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed). However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

In [2]:
a = {1, 2, 3}
print(a)

a= {2.5, "Hello", (1, 2, 3)}
print(a)

{1, 2, 3}
{2.5, (1, 2, 3), 'Hello'}

As you can see in the above example, that sets allow items of different data types.

In [3]:
a= {2.5, "Hello", [1, 2, 3]}
print(a)

TypeError: unhashable type: 'list'

Why did the above code give error? <br>
This is because the items in the set must be immutable and lists are mutable whereas tuples are immutable.

In [4]:
b = {1, 2, 3, 4, 3, 2}
print(b)

{1, 2, 3, 4}

As you can see sets can't have duplicate items.

In [5]:
a= {2.5, "Hello", (1, 2, 3)}
type(a) #used to get the data type of 'a'

set

<b>How to create an empty set?</b>

In [7]:
a = {}
print(type(a))

a = set()
print(type(a))

<class 'dict'>
<class 'set'>

As you can see when we used curly braces {} it identifies it as dictionary, not as set.

Sets are mutable. However, since they are unordered, indexing has no meaning. We cannot access or change an element of a set using indexing or slicing.

In [8]:
b = {1, 3}
print(b)

b.add(2)
print(b)

{1, 3}
{1, 2, 3}

In [9]:
b.add(4,5)

TypeError: set.add() takes exactly one argument (2 given)

It gives an error as add() only takes one argument/one value. Then, how to add multiple values? We use update() for that.

In [11]:
b.update((2, 3, 4,5,6)) 
print(b)

{1, 2, 3, 4, 5, 6}

A particular item can also be removed from a set using the methods discard() and remove().

The only difference between the two is that the discard() function leaves a set unchanged if the element is not present in the set. On the other hand, the remove() function will raise an error in such a condition (if element is not present in the set).

In [14]:
c = {1, 2,3, 4, 5, 6}
print(c)

c.discard(2)
print(c)

c.remove(3)
print(c)

c.discard(9)
print(c)

c.remove(9)

{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}
{1, 4, 5, 6}
{1, 4, 5, 6}

KeyError: 9

As you can see remove() gave an error when I tried removing 9(which was not present in the initial set) whereas discard didn't give an error.

Similarly, we can remove and return an item using the pop() method. Since set is an unordered data type, there is no way of determining which item will be popped from the set as we can't access the elements of a set due to its unorderedness property. Hence, item popped would be completely arbitrary.

We can also remove all the items from a set using the clear() method.

In [16]:
d = {1,2,3,4,5}
print(d.pop())
print(d)

d.clear()
print(d)

1
{2, 3, 4, 5}
set()

<b> Python Set Operations </b>

Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods.

<b>Set Union</b> : Union of A and B is a set of all elements from both sets. Union is performed using | operator. Same can be accomplished using the union() method. <br>
<b>Set Intersection </b> : Intersection of A and B is a set of elements that are common in both the sets. Intersection is performed using & operator. Same can be accomplished using the intersection() method. <br>
<b> Set Difference</b> :Difference of the set B from set A(A - B) is a set of elements that are only in A but not in B. Similarly, B - A is a set of elements in B but not in A. Difference is performed using - operator. Same can be accomplished using the difference() method. <br>
<b>Symetric Difference</b> : Symmetric Difference of A and B is a set of elements in A and B but not in both (excluding the intersection). Symmetric difference is performed using ^ operator. Same can be accomplished using the method symmetric_difference(). <br>

<img src="https://www.learnbyexample.org/wp-content/uploads/python/Python-Set-Operatioons.png"></img>

In [18]:
a = {1,2,3,6}
b = {1,4,5,6}
print(a | b)
print(a.union(b))
print(b.union(a))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [19]:
a = {1,2,3,6}
b = {1,4,5,6}
print(a & b)
print(a.intersection(b))
print(b.intersection(a))

{1, 6}
{1, 6}
{1, 6}

In [20]:
a = {1,2,3,6}
b = {1,4,5,6}
print(a - b)
print(b - a)
print(a.difference(b))
print(b.difference(a))

{2, 3}
{4, 5}
{2, 3}
{4, 5}

In [22]:
a = {1,2,3,6}
b = {1,4,5,6}
print(a ^ b)
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{2, 3, 4, 5}
{2, 3, 4, 5}
{2, 3, 4, 5}

<b>There are many set methods, some of which we have already used above. Here is a list of all the methods that are available with the set objects: </b>

add() : Adds an element to the set <br>
clear() : Removes all elements from the set <br>
copy() : Returns a copy of the set <br>
difference() : Returns the difference of two or more sets as a new set <br>
difference_update() : Removes all elements of another set from this set <br>
discard() : Removes an element from the set if it is a member. (Do nothing if the element is not in set) <br>
intersection() : returns the intersection of two sets as a new set <br>
intersection_update() : Updates the set with the intersection of itself and another <br>
isdisjoint() : Returns True if two sets have a null intersection <br>
issubset() : Returns True if another set contains this set <br>
issuperset() : Returns True if this set contains another set <br>
pop() : Removes and returns an arbitrary set element. Raises KeyError if the set is empty <br>
remove() : Removes an element from the set. If the element is not a member, raises a KeyError <br>
symmetric_difference() : Returns the symmetric difference of two sets as a new set <br>
symmetric_difference_update() : Updates a set with the symmetric difference of itself and another <br>
union() : Returns the union of sets in a new set <br>
update() : Updates the set with the union of itself and others <br>

<b>Set Membership Operator</b>

We can test if an item exists in a set or not, using the in keyword.

In [23]:
a = {1,2,3,4,5,6}
print(1 in a)
print(5 not in a)
print(9 in a)
print(9 not in a)

True
False
False
True

There are some more built-in functions in sets which are commonly used to perform various tasks. These are mentioned below and try them on your own.

all() : Returns True if all elements of the set are true (or if the set is empty). <br>
any() : Returns True if any element of the set is true. If the set is empty, returns False. <br>
enumerate() : Returns an enumerate object. It contains the index and value for all the items of the set as a pair. <br>
len() : Returns the length (the number of items) in the set. <br>
max() : Returns the largest item in the set. <br>
min() : Returns the smallest item in the set. <br>
sorted() : Returns a new sorted list from elements in the set(does not sort the set itself). <br>
sum() : Returns the sum of all elements in the set. <br>

<b>Iterating through a set </b>

In [27]:
a = {1,2,3,4,5}
print(type(a))
for i in a:
    print(i)

<class 'set'>
1
2
3
4
5

That's it about Sets. We completed our 4 important data types - List,Tuple,Dictionary and Set. <br>
Keep practicing questions from the above topics as they are all considered as important data types. <br>
Happy Learning!